
html,
body {
    font-family: 'NotoSansJP';
    margin: 0;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p, span, label, a{
    margin: 0;
}
p{
    font-size: 18px;
    line-height: 2;
}
img{
    width: 100%;
}
a{
    color: black;
    text-decoration: none;
    font-size: 14px;
}
a:hover{
    color: white;
}
body{
    background: url(../img/bk.png) repeat;
}
.show{
    display: block!important;
}
/*.container {
    max-width: 1166px;
    margin: auto;
}
*/
.logo p{
    margin: 0 0 0 6%;
    font-weight: bold;
}
.pc {
    display: block;
}

.sp {
    display: none;
}


/* header */

.header {
    top: 0%;
    width: 100%;
    position: fixed;
    z-index: 10;
    transition: .5s;
    backdrop-filter: blur(5px);
}
.container_header {
    max-width: 1166px;
    margin: auto;
}

.header .header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 3% 0 5%;
}

.header .header_content .navgation ul {
    margin: 0%;
    display: flex;
    align-items: flex-end;
}

.header .header_content .navgation ul li {
    display: inline;
    float: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin-right: 1vw;
    font-family: 'NotoSansJP';
    padding: 16px;
    background-image: linear-gradient(to right, #ffffff, #000000);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    -webkit-transition: background-size .5s ease;
    transition: background-size .5s ease;
}

.header .header_content .navgation ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
}
.header .header_content .navgation ul li:last-child{
    text-align: center;
    background: #fde800;
}
.header .header_content .navgation ul li:last-child i{
    font-size: 24px;
    margin-bottom: 8px;
}
.header .header_content .navgation ul li a:hover, .footer-menu ul li a:hover {
    color: #3fb661;
}

.header .header_content .reverse_btn .reverse_link {
    color: #A30F15;
    border: 1px solid #FFD500;
    text-decoration: none;
    background-color: white;
    padding: 7px 20px;
    border-radius: 7px;
    transition: 0.5s;
}

.header .header_content .reverse_btn .reverse_link:hover {
    color: #fff;
    background-color: white;
    border: 1px solid #FFD500;
}

.header .menu_btn {
    display: none;
    z-index: 10;
}

.menu_btn .container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 2px;
    transition: 0.4s;
    background-color: black;
}

.bar2 {
    margin: 6px 0;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-2px, 0px);
    background-color: white;
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-10px, -10px);
    background-color: white;
}

.overlay {
    display: none;
}

.overlay {
    height: 100vh;
    width: 0%;
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #333333;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay-content ul li {
    list-style: none;
    position: relative;
    background-image: linear-gradient(to right, #ffffff, #ffffff);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    -webkit-transition: background-size .5s ease;
    transition: background-size .5s ease;
}

.overlay-content ul li:hover {
    background-size: 100% 2px;
}

.overlay-content ul {
    margin: 30px;
    padding: 0;
}

.overlay a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: left;
    border-bottom: 1px solid #666666;
    padding: 15px;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 60px;
}


/* header */
.logo{
    width: 42%;
    padding: 1% 0 1%;
}
.logo h6{
    padding: 4% 13%;
    color: white;
    background-color: #EB0000;
}
.navgation{
    display: flex;
    justify-content: center;
}


/* top banner section*/
.top-main{
    position: relative;
}
.top-banner{
    position: relative;
}
.top-contents {
    position: absolute;
    top: 29%;
    left: 5%;
}
.top-title{
    width: 74%;
}
.top-banner-img{
    margin-left: 24%;
    width: 76%;
}
.top-contents h4{
    font-size: 24px;
    margin: 4% 0 10%;
}
.top-contents p{
    width: 30%;
}
.news{
    display: flex;
    align-items: center;
    position: absolute;
    left: 20%;
    bottom: 3%;
    width: 100%;
    justify-content: space-between;
}
.news-title img {
    width: 75%;
}
.news-caption{
    width: 15%;
}
.news-head img{
    width: 48%;
}

a.list{
    background-color: #fde800;
    border-radius: 50px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    width: 9vw;
    -webkit-text-size-adjust: none;
}
a.list:after{
    content: '\21C0';
    font-size: 24px;
    margin-left: 10px;
    position: absolute;
}
.news-contents{
    width: 85%;
}
.news-content{
    margin: 1% 0;
}
.category{
    margin: 0 1% 0;
    padding: 5px 15px;
    background-color: white;
    border-radius: 50px;
    border: 1px solid #fed800;
    vertical-align: middle;
    text-align: center;
    width: 12%;
    display: inline-block;
}
.news-title, .news-head{
    color: #447c97;
    margin-bottom: 10%;
}

/* about section */
.about{
    display: flex;
    align-items: center;
    margin: 10% 1%;
}
.about-img{
    width: 50% ;
}
.about-contents{
    padding: 0 5%;
    width: 25%;
}
.about-contents h6{
    font-size: 18px;
}
.about-contents img{
    margin: 5% 0 10%;
}
.about-contents h3{
    font-size: 24px;
}
.about-contents p{
    margin: 10% 0;
}
a.more{
    background-color: #fde800;
    border-radius: 50px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    width: 10vw;
    -webkit-text-size-adjust: none;
}

a.more:after{
    content: '\21C0';
    font-size: 24px;
    margin-left: 10px;
    position: absolute;
}

/* service section */
.service{
    margin: 15% 0 5%;
    background: url(../img/service_bk.png) repeat;
    background-size: cover;
    display: flex;
    align-items: flex-start;
    padding: 5% 0;
}
.service-img{
    width: 50%;
    margin: -10% 0 0%;
}
.service-contents{
    padding: 0 10% 0 15%;
    width: 50%;
}
.service-contents h6{
    font-size: 18px;
    color: white;
}
.service-contents img{
    margin: 5% 0 10%;
}
.service-contents h3{
    font-size: 24px;
    color: white;
}
.service-contents p{
    margin: 10% 0;
    color: white;
}

/* recruit section */
.recruit{
    margin: 15% 0 10%;
    position: relative;
}
.recruit-img{
    width: 55%;
    margin-left: 1%;
}
.recruit-contents{
    background-color: #e9e9e9;
    padding: 4% 30% 4% 4%;
    width: 20%;
    position: absolute;
    right: 0;
    top: -31%;
}
.recruit-contents h6{
    font-size: 18px;
}
.recruit-contents img{
    width: 75%;
    margin: 5% 0;
}
.recruit-contents h3{
    font-size: 24px;
}
.recruit-contents p{
    margin: 10% 0;
}

/* contact section */
.contact{
    background: url(../img/contact.png) no-repeat;
    background-size: cover;
    padding: 5% 0;
    text-align: center;
    background-position: center;
}
.contact img{
    width: 18%;
}
.contact h6{
    font-size: 16px;
    color: white;
    margin: 2% 0;
}
.contact a{
    background-color: #fde800;
    border-radius: 50px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    width: 20vw;
    -webkit-text-size-adjust: none;
    position: relative;
}
.contact a i{
    position: absolute;
    top: 27%;
    left: 10%;
    font-size: 20px;
}
.line{
    height: 3px;
    background-color: #3fb661;
    width: 9vw;
    margin: 1% auto 0;
}

/* footer section */
footer{
    display: flex;
    align-items: center;
    padding: 4% 20%;
    justify-content: space-between;
}
.footer-logo{
    width: 20%;
}
.footer-menu ul {
    margin: 0%;
}

.footer-menu ul li {
    display: inline;
    border-right: 1px solid black;
    float: left;
    font-size: 14px;
    color: rgb(0, 0, 0);
    font-family: 'NotoSansJP';
    padding: 0px 20px;
    background-image: linear-gradient(to right, #ffffff, #000000);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s ease;
}

.footer-menu ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 12px;
}
.copyright{
    font-size: 10px;
    background-color: #3fb661;
    color: white;
    text-align: center;
    padding: 2% 5% 5%;
}
.vertical-line{
    border-left: 2px solid black;
    height: 4vw;
    margin: 0 0 10px 25px;
}
.back-to-top {
    position: fixed; 
    display: none;
    bottom: 18%;
    width: 40px;
    height: 40px;
    right: 30px;
    z-index: 5;
}
.back-to-top a {
    text-decoration: none;
    text-align: center;
    line-height: 48px;
    font-size: 14px;
    transition: 0.5s;
    writing-mode: vertical-rl;
}
.back-to-top:hover a {
/*    color: white;*/
}


/* button mouseover effect */


 .more, .list, .contact a, .service-captions a {
     position: relative;
     text-decoration: none;
     display: inline-block;
     border: 1px solid #3fb661;
     overflow: hidden;
     font-weight: 300;
     transition: all 250ms ease-in-out;
}
 .more span, .list span, .contact a span, .service-captions a span {
    position: relative;
    z-index: 1;
  }
 a.more:hover , a.list:hover, .contact a:hover, .service-captions a:hover {
    color: white;
    border: 1px solid #fde800;
}
 .more:before, .list:before, .contact a:before, .service-captions a:before  {
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 200px;
     height: 200px;
     margin-left: -100px;
     margin-top: -100px;
     content: '';
     border-color: #3fb661;
     border-style: solid;
     border-width: 1px;
     border-radius: 100px;
     transform-origin: center center;
     transition: all 250ms ease-in-out;
     box-sizing: border-box;
}
.more:hover:before,  .list:hover:before, .contact a:hover:before, .service-captions a:hover:before {
     border-width: 100px;
}
.contact a:before, .service-captions a:before{
    width: 400px;
    height: 400px;
    margin-left: -200px;
    margin-top: -200px;
    border-radius: 200px;
}
 .contact a:hover:before, .service-captions a:hover:before {
    border-width: 200px;
 }


/* recruit page */
.recruit-banner{
    background: url(../img/recruit-top.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15% 60% 20% 10%;
    color: white;
}
.recruit-banner h3{
    font-size: 50px;
    margin: 3% 0;
}
.recruit-banner h4{
    font-size: 30px;
    line-height: 40px;
}
.breadcrumb{
    padding: 1% 15% 5%;
}
.breadcrumb a{
    font-size: 16px;
}
.breadcrumb span{
    padding: 0 1%;
}
.recruit-texts{
    padding: 0 10%;
}
.title{
    border-left: 5px solid #77EE9A;
    font-size: 24px;
    margin: 4% 5%;
    padding: 0 0 0 1%;
    scroll-margin-top: 150px;
}
.recruit-texts h5{
    font-size: 30px;
    text-align: center;
}

.recruit-box{
    padding: 0 5% 0;
}
.text-line{
    display: flex;
    align-items: center;
    padding: 3% 0;
    border-bottom: 1px solid grey;
    justify-content: center;
}
.text-line:nth-child(1){
    border-top: 1px solid grey;
}
.text-line p:first-child{
    width: 25%;
    text-align: center;
}
.text-line p:last-child{
    width: 75%;
    margin: 0 0 0 5%;
}


/* interview page */
.interview-banner{
    background: url(../img/interview-top.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15% 60% 20% 10%;
    color: white;
}
.interview-banner h3{
    font-size: 50px;
    margin: 3% 0;
}
.interview-banner h4{
    font-size: 30px;
    line-height: 40px;
}
.interview-texts{
    padding: 0 10%;
}
.interview-texts h5{
    font-size: 30px;
    text-align: center;
}
.interview-content{
    padding: 0 10%;
}
.interview-box{
    padding: 5% 10% 0;
}

/* Service page */
.service-banner{
    background: url(../img/service-top.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15% 60% 20% 10%;
    color: white;
}
.service-banner h3{
    font-size: 50px;
    margin: 3% 0;
}
.service-banner h4{
    font-size: 30px;
    line-height: 40px;
}
.service-texts{
    padding: 0 10%;
}
.service-texts h5{
    font-size: 30px;
    text-align: center;
}
.service-content{
    padding: 0 10%;
}
.service-box{
    padding: 5% 10% 0;
}
.service-captions{
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-captions a{
    padding: 2% 5%;
    border: 2px solid #77EE9A;
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    text-align: center;
}

/* company page */
.company-banner{
    background: url(../img/company-top.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15% 60% 20% 10%;
    color: white;
}
.company-banner h3{
    font-size: 50px;
    margin: 3% 0;
}
.company-banner h4{
    font-size: 30px;
    line-height: 40px;
}
.company-texts{
    padding: 0 10%;
}
.company-texts h5{
    font-size: 30px;
    text-align: center;
}
.company-content{
    padding: 0 10%;
}
.company-box{
    padding: 5% 10% 0;
}
.company-captions a{
    padding: 2% 5%;
    border: 2px solid #77EE9A;
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    text-align: center;
}


/* policy page */
.policy-banner{
    background: url(../img/policy-top.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15% 60% 20% 10%;
    color: white;
}
.policy-banner h3{
    font-size: 50px;
    margin: 3% 0;
}
.policy-banner h4{
    font-size: 30px;
    line-height: 40px;
}
.policy-texts{
    padding: 0 10%;
}
.policy-texts h5{
    font-size: 30px;
    text-align: center;
}
.policy-content{
    padding: 0 10%;
}
.policy-box{
    padding: 5% 10% 0;
}
.policy-captions a{
    padding: 2% 5%;
    border: 2px solid #77EE9A;
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    text-align: center;
}
.policy-date, .ceo{
    text-align: right;
}
.mail{
    text-align: center;
}

/* contact page */
.contact-banner{
    background: url(../img/contact-top.png) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 15% 60% 20% 10%;
    color: white;
}
.contact-banner h3{
    font-size: 50px;
    margin: 3% 0;
}
.contact-banner h4{
    font-size: 30px;
    line-height: 40px;
}
.contact-texts{
    padding: 0 10%;
}
.contact-texts h5{
    font-size: 30px;
    text-align: center;
}
.contact-content{
    padding: 0 10%;
}
.contact-box{
    padding: 0% 10% 0%;
    text-align: center;
}
.contact-captions a{
    padding: 2% 5%;
    border: 2px solid #77EE9A;
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    text-align: center;
}
.contact-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
}
.contact-line label{
    width: 25%;
}
.contact-line input{
    margin-left: 5%;
    width: 70%;
    height: 25px;
}
.contact-line textarea{
    margin-left: 5%;
    width: 70%;
}
input.submit{
    padding: 2% 5%;
    border: 2px solid #77EE9A;
    font-size: 18px;
    font-weight: bold;
    width: 20%;
    text-align: center;
}















